@import '/styles/variables/colors';

.job_sort {
  background-color: $white;
  height: 4.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: solid 1px $lightGrey2;
  border-right: none;

  .sort_by {
    padding-right: 5px;
    font-weight: bold;
  }

  .sort_date {
    color: $fontBlue;
  }
}