@import '/styles/variables/responsive';
@import '/styles/variables/colors';

@mixin commonBtnStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  height: 40px;
  padding: 0 1.25rem;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.search_button {
  @include commonBtnStyle;
  background-color: $orange;
  @include lg {
    width: 3.75rem;
    height: 3.75rem;
  }
}

.home_search_button {
  @include commonBtnStyle;
  border-radius: 50%;
  @include lg {
    width: 3rem;
    height: 3rem;
    transform: translateX(-3rem);
    background: $fontBlue;
  }
}

.search_button::before, .home_search_button::before {
  content: url('../../../public/sample_img/search/search_white.png');
}

.apply_button {
  @include commonBtnStyle;
  background-color: $orange;
  justify-content: space-between;
  border-radius: 2rem;
  width: 16rem;
}