@import '/styles/variables/colors';
@import '/styles/variables/responsive';
@import '/styles/variables/font';

.home {
  width: 100vw;
  max-width: 86rem;
  margin: auto;
  border-left: solid 1px $lightGrey2;
  border-right: solid 1px $lightGrey2;
  border-bottom: solid 1px $lightGrey2;
  position: relative;

  h2 {
    padding: 2rem;
  }

  .banner_img {
    position: absolute;
    z-index: 0;
    width: 100%;
    max-width: 86rem;
  }

  .job_section {
    background-color: $lightGrey2;
    height: 38rem;
  }

  .home_search {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content:space-between;
    opacity: 0.9;

    @include lg {
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 9rem;
      gap: 0;
      background-color: $white;
      justify-content: center;
    }
  }

  .head_title {
    color: $white;
    text-align: left;
    position: relative;
    margin-bottom: 2rem;
    padding: 4rem 6.25rem;
  }

  h3 {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    font-weight: bold;
  }

  .feajob_section {
    border-bottom: solid 1px $lightGrey2;

    .feajob_card_container {
      display: flex;
      :nth-child(-n + 3) {
        border-left: none;
      }
      :nth-child(3) {
        border-right: none;
      }
    }

    .pagination_container {
      padding: 2rem;
      display: flex;
      justify-content: center;
    }
  }

  .articles_container {
    margin: auto;

    .main_articles {
      height: 34.5rem;
      width: 100%;
      display: flex;

      .main_img {
        width: 50%;
        background-color: $lightGrey2;
        height: 100%;
      }

      .main_desc {
        width: 50%;
        span {
          padding: 0 2rem;
          @include xsContentFont;
        }
      }
    }

    .article_cards_container {
      display: flex;
    }

    .more_articles {
      color: black;
      padding: 2rem 0;
      text-align: center;
    }
  }
}