$black: #1F1F1F;
$fontDark: #333333;

$white: #fff;
$lightGrey1: #EFEFEF;
$lightGrey2: #DDDDDD;
$darkGrey1: #999999;
$darkGrey2: #707070;
$darkGrey3: #474747;

$skyBlue: #EAF4FF;
$fontBlue: #036EE1;
$iconBlue: #046EE1;
$navyBlue: #2B59c3;
$darkBlue: #002262;

$lightOrange: #FFEADD;
$orange: #FF6C0E;