@import '/styles/variables/colors';
@import '/styles/variables/responsive';

@mixin allHeaderStyle {
  height: 6rem;
  padding: 0 1.25rem;
  border-bottom: solid 1px $lightGrey2;
  display: flex;
  align-items: center;
  justify-content: center;

  .burger_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;

    @include lg {
      display: none;
    }
  }

  @include lg {
    justify-content: space-between;
    align-items: center;
  }

  .header_icon {
    display: flex;
    justify-content: center;
  }

  .navlist {
    display: none;
    @include lg {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navlist_item {
        display: flex;
        font-weight: bold;
        color: $black;
        text-decoration: none;
        padding: 0 20px;
    }

  }
  .lang_switcher {
      position: absolute;
      right: 20px;
      top: 20px;

    @include lg {
      position: initial;
    }
  }
}

// Normal Header
.header {
  @include allHeaderStyle();
}

.header:hover {
  background-color: $black;
  color: $white;
  .navlist_item {
    color: $white;
  }
}

.header_searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 86.25rem;
  margin: auto;

  @include lg {
    flex-direction: row;
  }

  .filterIcon {
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px $lightGrey2;
  }
}

