@import '/styles/variables/colors';
@import '/styles/variables/responsive';
@import '/styles/variables/button';

.preview_container {

  .selected_cv {
    padding: 1rem 2rem;
  }

  :nth-child(6), :nth-child(7) {
    background-color: $lightGrey1;
  }
  .filled_field {
    padding: 1rem 2rem;
  }

  .btn_box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 2rem 10rem;


    .back {
      @include blueButton;
      background-color: #fff;
      border: solid 1px $lightGrey2;
      color: $fontBlue;
    }

    .submit {
      @include blueButton;
      background-color: $fontBlue;
      color: $white;
    }
  }
}