@import "/styles/variables/colors";
@import "/styles/variables/responsive";
@import "/styles/variables/button";
@import "/styles/variables/font";

@mixin inputField {
    height: 5rem;
    padding-left: 0.5rem;
    width: 100%;
    border: solid 1px $darkGrey1;
    color: $darkGrey2;
}

.form_content {
  display: flex;
  flex-direction: column;
  label {
    display: block;
    padding: 0.5rem 2rem;
    background-color: $lightGrey2;
    @include xsContentFont;
    font-weight: bold;
  }

  .upload_btn {
    border: none;
    background: none;
    width: fit-content;
    @include xsContentFont;
    align-self: flex-end;
    padding: 1rem;
    font-weight: bold;
  }
  .cv_form {
    display: flex;
    align-items: center;
    input {
      @include inputField;
    }
  }
  .name_field {
    display: flex;
    input {
      @include inputField;
    }
  }
  .contact_field {
    display: flex;
    justify-content: space-between;
    input {
      @include inputField;
    }
    .email_field {
      width: 50%;
    }
    .contact_no_container {
      width: 50%;
      .contact_no_field {
        display: flex;
        flex-wrap: nowrap;
        .region_code {
          flex: 1;
          border-right: none;
        }
        .contact_no {
          flex: 5;
        }
      }
    }
  }

  .expected_salary {
    display: flex;
    .salary_currency {
      width: 6rem;
      border-right: none;
    }

    input {
      @include inputField;
    }
  }

  input:disabled {
    background-color: $lightGrey1;
  }
  input::placeholder {
    opacity: 0.5;
  }


  .preview_btn {
    @include blueButton;
    color: $white;
    background-color: $fontBlue;
    margin: 2rem auto 10.5rem;

  }
  p {
    margin: 0;
    color: red;
    font-weight: normal;
    height: 1rem;
  }
}